html,body,#app{
    height: 100%; background:whitesmoke;
}


.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  color: #212020;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-prev i,
.swiper-button-next i {
  font-size: 20px; /* smaller icon */
  line-height: 30px;
  background: #faf8f8e0;
  padding: 1px 3px;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none; /* Hide default arrows */
}
